.entry-box>scrolledwindow>textview {
  background: #F5F5F5;
  border: 0px solid #ccc;
  border-radius: 15px;
  padding-left: 5px;
  transition: background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.entry-box>scrolledwindow>textview:focus {
  border: 2px solid #ccc;
  border-color: @accent_color;
}

.entry-box>button {
  margin-left: 5px;
  border-radius: 15px;

}

.entry-box>scrolledwindow>scrollbar {
  box-shadow: none;
  background: none;
}

.entry-box>scrolledwindow>scrollbar slider {
  min-height: 0;
}

.entry-box {
  padding: 0 9px;
  border-radius: 15px;
  background: white;
  margin-bottom: 5px;
}

window {
  background: white;
}

.message-row-sent {
  background: #F5F5F5;
  border: 0px solid #ccc;
  border-radius: 15px;
  margin-left: 180px;
  margin-top: 10px;
}

.message-row-received {
  background: #F5F5F5;
  border: 0px solid #ccc;
  border-radius: 15px;
  margin-right: 180px;
  margin-top: 10px;
}