.entry-box > scrolledwindow > textview {
  background: @headerbar_shade_color;
  border-radius: 15px;
  padding-left: 5px;
  transition:
    border 0.4s ease-in-out,
    border-color 0.4s ease-in-out;
}

.entry-box > scrolledwindow > textview:focus {
  border: 2px solid @accent_color;
}

.entry-box > scrolledwindow > textview:hover {
  border: 2px solid @accent_color;
  border-color: ;
}

.entry-box > button {
  margin-left: 5px;
}

.entry-box > scrolledwindow > scrollbar {
  box-shadow: none;
  background: none;
}

.entry-box > scrolledwindow > scrollbar slider {
  min-height: 0;
}

.entry-box {
  padding: 0 9px;
  border-radius: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.prompt-entry {
  border: 2px solid;
  border-radius: 15px;
  padding-left: 5px;
}

.blue-entry {
  border: 2px solid @accent_color;
  border-radius: 15px;
  padding-left: 5px;
}

.user-selected {
  border: 2px solid @accent_color;
  border-radius: 50%;
  padding: 3px;
  transition: border-radius 0.4s ease-in-out;
}

.user-selected:hover {
  border: 2px solid @accent_color;
  border-radius: 30%;
  padding: 3px;
}

.user-inactive {
  border: 2px solid @light_4;
  border-radius: 50%;
  padding: 3px;
  transition: border-radius 0.4s ease-in-out;
}

.user-inactive:hover {
  border: 2px solid @light_4;
  border-radius: 30%;
  padding: 3px;
}

.message-row-sent {
  background: @headerbar_shade_color;
  border: 0px solid;
  border-radius: 15px;
  margin-left: 180px;
  margin-top: 10px;
}

.message-row-received {
  background: @headerbar_shade_color;
  border: 0px solid;
  border-radius: 15px;
  margin-right: 180px;
  margin-top: 10px;
}

.avatar {
  padding: 3px;
}

.sender-blue-1 {
  color: @blue_2;
  font-weight: bold;
}

.sender-blue-2 {
  color: @blue_5;
  font-weight: bold;
}

.sender-green-1 {
  color: @green_2;
  font-weight: bold;
}

.sender-green-2 {
  color: @green_5;
  font-weight: bold;
}

.sender-yellow-1 {
  color: @yellow_5;
  font-weight: bold;
}

.sender-orange-1 {
  color: @orange_2;
  font-weight: bold;
}

.sender-red-1 {
  color: @red_2;
  font-weight: bold;
}

.sender-purple-1 {
  color: @purple_2;
  font-weight: bold;
}

.sender-purple-2 {
  color: @purple_5;
  font-weight: bold;
}

.sender-brown-1 {
  color: @brown_2;
  font-weight: bold;
}

.activatable:hover {
  background-color: inherit;
}