.message-entry > overlay > entry > scrolledwindow > textview {
  background: none;
  color: inherit;
}

.entry {
  background: #2E2E2E;
  border-radius: 15px;
}

.message-entry {
  background: #1E1E1E;
}

.entry-box {
  background: #1E1E1E;
  padding: 5px;
}

.message-row-sent {
  background: #333333;
  border: 0px solid;
  border-radius: 15px;
  margin-left: 120px;
  margin-top: 10px;
}

.message-row-sent:hover {
  background-color: #262626;
  border: 0px solid;
  border-radius: 15px;
  margin-left: 120px;
  margin-top: 10px;
}

.message-row-received {
  background: #333333;
  border: 0px solid;
  border-radius: 15px;
  margin-right: 120px;
  margin-top: 10px;
}

.message-row-received:hover {
  background-color: #262626;
  border: 0px solid;
  border-radius: 15px;
  margin-right: 120px;
  margin-top: 10px;
}