.entry-box > scrolledwindow > textview {
  background: #F5F5F5;
  border: 0px solid #ccc;
  border-radius: 15px;
  padding-left: 5px;
  transition: background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.entry-box > scrolledwindow > textview:focus {
  border: 2px solid #ccc;
  border-color: @accent_color;
}

.entry-box>button {
  margin-left: 5px;
  border-radius: 15px;

}

.entry-box > scrolledwindow > scrollbar {
  box-shadow: none;
  background: none;
}

.entry-box > scrolledwindow > scrollbar slider {
  min-height: 0;
}

.entry-box {
  padding: 0 9px;
  border-radius: 15px;
  background: white;
  margin-bottom: 5px;
}

.prompt-entry {
  border: 2px solid #ccc;
  border-radius: 15px;
  padding-left: 5px;
}

.blue-entry {
  border: 2px solid #ccc;
  border-radius: 15px;
  padding-left: 5px;
  border-color: @accent_color;
}

window {
  background: white;
}

.message-row-sent {
  background: #F5F5F5;
  border: 0px solid #ccc;
  border-radius: 15px;
  margin-left: 180px;
  margin-top: 10px;
}

.message-row-received {
  background: #F5F5F5;
  border: 0px solid #ccc;
  border-radius: 15px;
  margin-right: 180px;
  margin-top: 10px;
}

.avatar {
  padding: 3px;
  overflow: hidden;
}

.notification-box {
  background-color: #F5F5F5;
  border: 0px solid #ccc;
  border-radius: 15px;
  padding: 5px;
  margin: 4px;
}

.notification-box > label {
  font-weight: bold;
}

.sender-blue-1 {
  color: @blue_2;
  font-weight: bold;
}

.sender-blue-2 {
  color: @blue_5;
  font-weight: bold;
}

.sender-green-1 {
  color: @green_2;
  font-weight: bold;
}

.sender-green-2 {
  color: @green_5;
  font-weight: bold;
}

.sender-yellow-1 {
  color: @yellow_5;
  font-weight: bold;
}

.sender-orange-1 {
  color: @orange_2;
  font-weight: bold;
}

.sender-red-1 {
  color: @red_2;
  font-weight: bold;
}

.sender-purple-1 {
  color: @purple_2;
  font-weight: bold;
}

.sender-purple-2 {
  color: @purple_5;
  font-weight: bold;
}

.sender-brown-1 {
  color: @brown_2;
  font-weight: bold;
}