/* Some part of the Textview style taken from 
https://github.com/paper-plane-developers/paper-plane */

.message-entry {
  background: @light_1;
}

.entry {
  background: #F5F5F5;
  border-radius: 15px;
  transition:
    border 0.4s ease-in-out,
    border-color 0.4s ease-in-out;
}

.entry:hover {
  border: 2px solid @accent_color;
}

.entry:focus-within {
  border: 2px solid @accent_color;
}

.message-entry>overlay>label {
  margin: 0 9px;
}

.message-entry>overlay>box>button {
  background: inherit;
  margin-bottom: 4px;
  margin-right: 4px;
  border: 0px solid;
  border-radius: 50%;
  padding: 0px;
}

.message-entry>overlay>box>scrolledwindow>scrollbar {
  box-shadow: none;
  background: none;
}

.message-entry>overlay>box>scrolledwindow>scrollbar slider {
  min-height: 0;
}

.message-entry>overlay>box>scrolledwindow>textview {
  background: none;
  color: inherit;
}

.emoji {
  opacity: 0.5;
  transition: opacity 0.4s ease;
}

.emoji:hover {
  opacity: 1.0;
}

.prompt-entry {
  border: 2px solid;
  border-radius: 15px;
  padding-left: 5px;
}

.blue-entry {
  border: 2px solid @accent_color;
  border-radius: 15px;
  padding-left: 5px;
  background: #F5F5F5;
}

.user-selected {
  border: 2px solid @accent_color;
  border-radius: 50%;
  padding: 3px;
  transition: border-radius 0.4s ease-in-out;
}

.user-selected:hover {
  border: 2px solid @accent_color;
  border-radius: 30%;
  padding: 3px;
}

.user-inactive {
  border: 2px solid @light_4;
  border-radius: 50%;
  padding: 3px;
  transition: border-radius 0.4s ease-in-out;
}

.user-inactive:hover {
  border: 2px solid @light_4;
  border-radius: 30%;
  padding: 3px;
}

.user-pending {
  border: 2px solid @green_4;
  border-radius: 50%;
  padding: 3px;
  transition: border-radius 0.4s ease-in-out;
}

.user-pending:hover {
  border: 2px solid @green_4;
  border-radius: 30%;
  padding: 3px;
}

.message-row-sent {
  background: #f0f0f0;
  border: 0px solid;
  border-radius: 15px;
  margin-left: 120px;
  margin-top: 10px;
}

.message-row-sent:hover {
  background-color: @light_3;
  border: 0px solid;
  border-radius: 15px;
  margin-left: 120px;
  margin-top: 10px;
}

.message-row-received {
  background: #f0f0f0;
  border: 0px solid;
  border-radius: 15px;
  margin-right: 120px;
  margin-top: 10px;
}

.message-row-received:hover {
  background-color: @light_3;
  border: 0px solid;
  border-radius: 15px;
  margin-right: 120px;
  margin-top: 10px;
}

.avatar {
  padding: 3px;
}

.avatar-button {
  background: inherit;
  border: 0px solid;
  border-radius: 50%;
  padding: 0px;
}

.cancel-button {
  border-radius: 0px;
  color: @destructive_color;
  padding: 10px;
}

.confirm-button {
  border-radius: 0px;
  color: @accent_color;
  padding: 10px;
}

.small-red-label {
  font-size: 12px;
  font-weight: bold;
  color: @destructive_color;
}

.small-label {
  font-size: 11px;
}

.sender-blue-1 {
  color: @blue_2;
  font-weight: bold;
}

.sender-blue-2 {
  color: @blue_5;
  font-weight: bold;
}

.sender-green-1 {
  color: @green_2;
  font-weight: bold;
}

.sender-green-2 {
  color: @green_5;
  font-weight: bold;
}

.sender-yellow-1 {
  color: @yellow_5;
  font-weight: bold;
}

.sender-orange-1 {
  color: @orange_2;
  font-weight: bold;
}

.sender-red-1 {
  color: @red_2;
  font-weight: bold;
}

.sender-purple-1 {
  color: @purple_2;
  font-weight: bold;
}

.sender-purple-2 {
  color: @purple_5;
  font-weight: bold;
}

.sender-brown-1 {
  color: @brown_2;
  font-weight: bold;
}

/*listbox adds this style to widgets. Added here to prevent the frames from popping up*/
.activatable:hover {
  background-color: inherit;
}